/* Global Styles */
body,
html {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  background: linear-gradient(135deg, #000000, #1a1a1a);
  color: #00ffea;
  text-shadow: 1px 1px 2px #ff00c8;
}

/* Navbar Styles */
.navbar {
  background-color: #111;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px double #00ffea;
  box-shadow: 0 0 15px #00ffea;
}

.navbar-brand {
  font-size: 1.2em;
  color: #ff00c8;
  text-shadow: 1px 1px 0 #00ffea;
}

.navbar-links a {
  color: #00ffea;
  text-decoration: none;
  margin-left: 20px;
  font-size: 0.8em;
  transition: all 0.3s ease;
}

.navbar-links a:hover {
  color: #ff00c8;
  text-shadow: 0 0 5px #ff00c8;
}

/* Login Styles */
.login-container {
  text-align: center;
  margin-top: 50px;
}

h2 {
  color: #333;
  font-size: 2em;
  margin-bottom: 30px;
}

.login-card {
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  border-radius: 10px;
  box-shadow: 5px 5px 15px #ccc, -5px -5px 15px #ffffff;
  margin: 0 auto;
  padding: 30px;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.input-field {
  padding: 10px;
  margin: 10px;
  width: 90%;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: inset 2px 2px 5px #eee, inset -2px -2px 5px #fff;
}

.login-button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #555;
}
